.detailBlog {
    background-color: #fff;
}

.detailBlog h3 {
    color: #666666;
}

.detailBlog_Content {
    padding-top: 10px;
    padding-bottom: 30px;
}

.detailBlog_Content ul {
    padding: 0px;
}

.detailBlog_Content ul li {
    list-style: none;
    float: left;
    margin-left: 10px;
    font-size: 13px;
    color: #444444;
}

.detailBlog_Content p {
    /* font-size: 13px; */
    margin-top: 10px;
}

.detailBlog_Content img {
    width: 80%;
}

.intro_main {
    padding-bottom: 0px;
}